*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
.container{
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content{
    margin: 10px;
    /* height: 300px; 
    background-color: red;
    border: 1px solid black; */
}



/* COLUMN  */
header .col-50{
    width: 50%;
}

.col-100,
.col-66,
.col-50,
.col-33{
    width: 100%;
}
/* BACKGROUND  */
.bg_blue{
    background-color: rgb(38, 121, 216)
}
.bg_purple{
    background-color: purple;
}
.bg_black{
    background-color: rgba(0, 0, 0, 0.7);
}
/* TEXT  */
.text-right{
    text-align: right;
}
/* HEADER  */
header{
    margin-bottom: 50px;
    
}
.menu i{
    font-size: 25px;
 
}
.logo img{
    height: 100%;
}
header .content{
    margin: 0;
    padding: 30px;
    
}
/* MEDIA  */
@media screen and (min-width: 768px) {
    .container{
        max-width: 100%;
    }
    .col-66{
        width: calc(100% / 3 * 2 - 10px);
    }   
    .col-33{
        width: calc(100% / 3 - 10px);
    } 
    .bg_purple .col-33{
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 1200px;
    }
    .col-50{
        width: 50%;
    }
    .bg_purple .col-33{
        width: calc(100% / 3 - 10px);
    }
}