*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* COMMON  */
.container{
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20;
}
.content{ 
    width: 100%;
    /* height: 300px; 
    background-color: red;
    border: 1px solid black;  */
}
.d-flex{
    display: flex;
}
button{
    padding: 5px 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}



/* COLUMN  */
header .col-50{
    width: 50%;
    margin: 0;
}

.col-100,
.col-66,
.col-50,
.col-33{
    width: 100%;
    margin: 10px 20px; 
}
/* BACKGROUND and COLOR */
.bg_blue{
    background-color: rgb(38, 121, 216)
}
.bg_purple{
    background-color: #9792E4;
}
.bg_black{
    background-color: rgba(0, 0, 0, 0.7);
}
.bg_white{
    background-color: white;
}
.color-blue{
    color:  #4676c8;
}
.bg_lightblue{
    background-color: #B5DDFF;
}
.color-white{
    color: #fff;
}
.color-purple{
    color: #9792E4;
}
.color-gray{
    color: rgb(91, 90, 90);
}
/* PADDING MARGIN  */
.padding-20{
    padding: 20px;
}
.margin-y-10{
    margin: 50px 0;
}
/* TEXT  */
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.font-size-30{
    font-size: 30px;
}
/* HEADER  */
header{
    margin-bottom: 50px;   
}
.menu i{
    font-size: 25px;
 
}
.logo img{
    height: 100%;
}
header .content{
    margin: 0;
    padding: 30px;
}
/* MAIN  */
/* cards  */
.card{
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10%;
}  
.card i{
    font-size: 60px;
}
.card button i{
    font-size: 20px;
    padding: 0 10px;
}
.card h3{
    font-size: 20px;
    margin: 10px 0;
}
.card p{   
    font-weight: 600;
}
.card img {
    width: 50%;
}


main .col-50 img{
    width: 100%;
}
.content .bg_white{
    border-radius: 30px;
}
p{
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0;
}
.bg_white .bg_purple{
    padding: 10px;
    border-radius: 50%;
}
.rounded{
    width: 50%;
    border-radius: 50%;
}
/* MEDIA  */
@media screen and (min-width: 768px) {
    .container{
        max-width: 100%;
    }
    .col-66{
        width: calc(100% / 3 *2 - 40px);
    }   
    .col-33{
        width: calc(100% / 3 - 40px);
    } 
    .col-100 .card{
        display: flex;
        text-align: left;
    }
    .bg_purple .col-33{
        width: calc(100% / 2 - 40px);
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 1200px;
    }
    .col-50{
        width: 50%;
    }
    .bg_purple .col-33{
        width: calc(100% / 3 - 10px);
    }
}